/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #dfdb8e;
  }
  
  
  /* Estilos del encabezado */
  header {
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  /* OPEN diseño barra de navegacion*/
  .container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
  /* FINISH diseño sección index*/

/* OPEN diseño sección index*/ 
.container-index{
  display: flex;
  flex-direction:column; 
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}
/* FINISH diseño sección index*/

 /* OPEN diseño sección about*/
.container-about{
  display: flex;
  flex-direction:column; 
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.row{
  display: flex;
}

.container-about img {
  display: flex;
  margin: 0 10px; /* Agrega margen horizontal entre las imágenes */
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
}
  /* FINISH diseño sección about*/

 /* OPEN diseño sección contact*/
.container-contact{
  display: flex;
  flex-direction:column; 
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.myForm {
  display: flex;
  flex-direction: column;
  align-items: center; /* Añadida propiedad para centrar horizontalmente */
  justify-content: center; /* Añadida propiedad para centrar verticalmente */
}

.myForm input,
.myForm textarea {
  width: 200px;
}
 /* FINISH diseño sección contact*/

 /* OPEN diseño servicios */
 .container-services {
  display: flex;
  flex-direction:column; 
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.service-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.service-image {
  width: 300px;
  margin-right: 20px;
}
/* FINISH diseño servicios */

  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  .brand img{
    height: 40px;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    list-style-type: none;
  }
  
  .nav-links li > a {
    color: white;
    text-decoration: none;
    padding: 8px 24px;
  }
  
  .button-menu-toggle {
    display: none;
  }
  /* OPEN media querys responsive*/
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border: none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
  
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20, 20, 20, 0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap: 70px;
      font-size: 40px;
    }
    .column, .video-container, .row{
      flex: 100%;
    }
    .row{
      flex-direction: column;
    }
  }
  /* FINISH media querys responsive*/
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
  }