/*
header {
    background-color: #45b37c;
    color: #fff;
    text-align: center;
    padding: 20px;
    }
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
nav li {
    display: inline-block;
    margin-right: 20px;
    }
nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    }   
nav a:hover {
    color: #1BF7DE;
}
.button-menu-toggle:hover {
    color: #1BF7DE;
    }


@media (max-width: 767px){
        header{
            background-color: #333;
        }
    }
    
@media (max-width: 767px){
        nav{
            font-size: 16px;
        }
    }
    
@media (min-width: 1200px){
        header{
            width:1200px;
        }
    }

.container-nav {
        display: flex;
        padding: 10px;
        height: 50px;
        background-color: black;
        }
        .navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

.navbar {
display: flex;
justify-content: space-between;
width: 100%;
    }

.brand {
display: flex;
align-items: center;
    }

li>a {
padding: 8px 24px;
    }

li {
list-style-type: none;
    }

a {
color: white;
text-decoration:none;
    }

.nav-links {
display: flex;
align-items: center;
    }

.button-menu-toggle {
display: none;
    }

@media (max-width: 768px) {
.column {
flex: 100%;
    }

.nav-links {
display: none;
    }

.button-menu-toggle {
display: block;
background-color: white;
border:none;
border-radius: 50px;
padding: 0 24px;
font-family: monospace;
font-weight: bold;
font-size: 20px;
}

.nav-links.nav-links-responsive {
position: absolute;
display: flex;
background-color: rgba(20,20,20,0.95);
width: 100%;
height: 100%;
top: 70px;
left: 0;
flex-direction: column;
padding-top: 200px;
align-items: center;
gap:70px;
font-size: 40px;
    }

    .container-flexbox{
        flex-direction: column;
    }
}


.container-flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-flexbox img {
    margin: 0 10px; /* Agrega margen horizontal entre las imágenes 
    width: 300px;
    height: 300px;
  }

.greeting {
    text-align: center;
}

        /* Estilos del pie de página 
footer {
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
}

/* Estilos de la sección de servicios 
.services {
    background-color: #f5f5f5;
    padding: 50px;
}

.service {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.service-image {
    width: 150px;
    margin-right: 20px;
}

.service-content {
    flex: 1;
}
*/

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #dfdb8e;
  }
  
  
  /* Estilos del encabezado */
  header {
    
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  /* Estilos de la barra de navegación Agrega margen horizontal entre las imágenes */
  .container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }


.container-index{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.container-about{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin: 10px;
}

.container-about .row{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin: 10px;
}

.container-about img {
    margin: 0 10px; /* Agrega margen horizontal entre las imágenes */
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
  }

  .container-contacto{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: 10px;
  }
  .container-contacto input{
    width: 150px; 
    height: 20px;
  }
  .container-contacto textarea{
    width: 494px; 
    height: 108px;
  }

  .container-contacto button{
    height: 50px;
    width: 100px;
    margin-left: 200px;
    margin-top: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  .brand img{
    height: 40px;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    list-style-type: none;
  }
  
  .nav-links li > a {
    color: white;
    text-decoration: none;
    padding: 8px 24px;
  }
  
  .button-menu-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
    .nav-links {
      display: none;
    }
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border: none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
  
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20, 20, 20, 0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap: 70px;
      font-size: 40px;
    }
  
    .container-flexbox {
      flex-direction: column;
    }
  }
  
  /* Estilos del contenido de servicios */
  .services {
    background-color: #f5f5f5;
    padding: 50px;
  }
  
  .service {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row-reverse;
  }
  
  .service-image {
    width: 500px;
    margin-right: 20px;
  }
  
  .service-content {
    flex: 1;    
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
  }

  /* Diseño responsivo de index.html*/
  .container-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /*
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }*/
  
  .column {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .video-container {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .column, .video-container {
      flex: 100%;
    }
  }